@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #0b121a;
}

.scroll-visible::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-visible::-webkit-scrollbar:vertical {
  width: 11px;
}

.scroll-visible::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scroll-visible::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  padding-top: 5em;
}

span.wallet-label.hidden {
  display: inline-block !important;
}
